<a href="/headscarves" class="navigation">Terug</a>
<article>
    <header>
        <h1>{{headscarf.title}}</h1>
    </header>
    <p><b>Create date:</b> {{headscarf.createdDate}}</p>

    <figure>
        <!--<img src="{{headscarf.imageLink}}" alt="" />-->
        <img src="../assets/images/imageproxy.jpeg" alt="" />
        <!--<img src="../assets/images/imageproxy.jpeg" alt="" />-->
    </figure>
<!--<img src="{{headscarf.imageLink}}" width="200" alt="" />-->

<!--<p>{{headscarf.imageLink}}</p>-->

</article>

