<Filter/>
<div class="wrap">

        <div data-glide-el="track" class="glide__track">
            <ul class="glide__slides carousel">
                {{#each @headscarves as |headscarf|}}
                    <li data-id="{{headscarf.id}}" class="glide__slide objectItem carousel-seat">
                        <!--<h1>{{headscarf.id}}</h1>-->
                        <a href="/headscarf/{{headscarf.id}}">
                        <div class="imageHolder">
                            <img src="assets/images/imageproxy.jpeg" alt="" />
                            <!--<img src="{{headscarf.imageLink}}" alt="" />-->
                        </div>

                        <!--<h1>{{headscarf.title}}</h1>-->
                        <!--<span>{{headscarf.createdDate}}</span>-->
                        <!--<span>{{headscarf.imageLink}}</span>-->
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
</div>

<script src="{{rootURL}}assets/js/script.js"></script>

