<div class="container">
    <div class="glide">
        <div data-glide-el="track" class="glide__track">
            <ul class="glide__slides">
                {{#each @headscarves as |headscarf|}}
                    <li class="glide__slide">
                        <a href="/headscarf/{{headscarf.id}}">
                        <div class="imageHolder">
                            <img src="assets/images/imageproxy.jpeg" alt="" />
                        </div>

                        <!--<h1>{{headscarf.title}}</h1>-->
                        <!--<span>{{headscarf.createdDate}}</span>-->
                        <!--<span>{{headscarf.imageLink}}</span>-->
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<script src="{{rootURL}}assets/js/script.js"></script>

